<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Blog</title>
        {% block stylesheet %}
            <link rel="stylesheet" href="{{ asset('bundles/app/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/css') }}">
        {% endblock %}

    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <a href="{{ path('homepage') }}">home</a>
                </a>
                <a class="navbar-brand" href="#">
                    <a href="{{ path('fos_user_security_login') }}">connection</a>
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block body %}

        {% endblock %}
    </div>

        {% block javascript %}
            <script src="{{ asset('bundles/app/bower_components/tinymce/tinymce.min.js') }}"></script>
            <script src="{{ asset('bundles/app/bower_components/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/app/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>