{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="center-block inscription">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
           <div>
               <label for="{{ form.vars.form.children.username.vars.id }}">nom d'utilisateur</label>
               <input type="text" class="form-control" id="{{ form.vars.form.children.username.vars.id }}" name="{{ form.vars.form.children.username.vars.full_name }}" required="required" maxlength="255" pattern=".{2,}">
           </div>
           <div>
               <label for="{{ form.vars.form.children.email.vars.id }}">adresse mail</label>
               <input type="email" class="form-control" id="{{ form.vars.form.children.email.vars.id }}" name="{{ form.vars.form.children.email.vars.full_name }}" required="required">
           </div>

        <div class="password">
            <div>
                <label for="{{ form.vars.form.children.plainPassword.vars.id }}[first]">mot de passe</label>
                <input type="password" class="form-control" id="{{ form.vars.form.children.plainPassword.vars.id }}[first]" name="{{ form.vars.form.children.plainPassword.vars.full_name }}[first]" required="required">
            </div>

            <div>
                <label for="{{ form.vars.form.children.plainPassword.vars.id }}[second]">mot de passe</label>
                <input type="password" class="form-control" id="{{ form.vars.form.children.plainPassword.vars.id }}[second]" name="{{ form.vars.form.children.plainPassword.vars.full_name }}[second]" required="required">
            </div>
        </div>

            {{ form_row(form._token) }}

            <div>
                <input type="submit" value="valider" />
            </div>
        </form>
    </div>


{% endblock fos_user_content %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/inscription.min.css') }}">
{% endblock %}