{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="col-md-10">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <a href="{{ path('listArticle') }}" onclick="saveArticle()">add</a>
        {% if delete is defined and delete %}
            <a class="del" href="#" data-href="{{ path('deleteArticle', {'article' : article.id}) }}">suppression</a>
        {% endif %}
    </div>
    <div class="col-md-2 image">
        {{ form(formImage) }}
        {% for image in images %}
            {% include 'AppBundle:image:image.html.twig' with {'image': image} %}
        {% endfor %}
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/bower_components/tinymce-placeholder-attribute/placeholder/plugin.min.js') }}"></script>

    <script>
        tinymce.init({
            selector: '.tinymce',
            plugins: [
                "advlist autolink lists image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste imagetools",
                "placeholder"

            ],
            paste_data_images: true,
            image_advtab: true,
            height: 450,
            init_instance_callback: function (editor) {
                editor.on('change', function (e) {
                    tinyMCE.triggerSave();
                });
            }
        });

        setInterval(saveArticle, 10000);

        function saveArticle() {
            var form = $('form');
            $.post('{{ path('addAjaxArticle', {'article' : article.id}) }}', form.serialize());
        }

        //suppression de l'article + déplacement vers a liste des articles
        $('.del').on('click', function (e) {
            e.stopImmediatePropagation();
            $.post($(this).attr('data-href'), function () {
                window.location.href = "{{ path('listArticle') }}"
            });
        })

    </script>

{% endblock %}