<div id="commentaire{{ commentaire.id }}" class="commentaire">
    <div class="col-sm-10">
            <p>{{ commentaire.texte|raw }}</p>
            <p class="date">{{ commentaire.dateCreation|date('Y-m-d', "Europe/Paris") }}</p>
    </div>
    <div class="col-sm-2 editDelete">
        <a class="edit" href="#" data-href="{{ path('editCommentaire', {'commentaire' : commentaire.id}) }}">
            <i class="material-icons">mode_edit</i>
        </a>
        <a class="delete" href="#" data-href="{{ path('deleteCommentaire', {'commentaire' : commentaire.id}) }}">
            <i class="material-icons">delete</i>
        </a>
    </div>
</div>

