{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            {% for article in articles %}
                <div data-id="{{ article.id }}">
                    <input type="checkbox"
                            {% if article.publier %}
                                checked
                            {% endif %}
                    >
                    {{ article.title }}
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-9">
            {% for commentaire in commentaires %}
                <div id="commentaire{{ commentaire.id }}">
                    <p>{{ commentaire.texte }}</p>
                    <p>{{ commentaire.dateCreation|date('Y-m-d', "Europe/Paris") }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            var inputs = $('input');

            for (var i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener('click', function (e) {
                    var id = $(this).closest('div').attr('data-id');

                    var route = '{{ path('publishArticle', {'article':"PLACEHOLDER"}) }}';

                    route = route.replace("PLACEHOLDER", id);
                    $.post(route)
                })
            }
        })

    </script>
{% endblock %}